<div>
  <mat-toolbar color="primary">
    <span>Previsioni meteo</span>
  </mat-toolbar>
  <div fxLayoutAlign="center">
    <div class="mat-caption vertical-margin">
      Previsioni per la tua città
    </div>
  </div>

  <div fxLayoutAlign="center">
    <app-city-search></app-city-search>
  </div>

  <div fxLayout="row">
    <div fxFlex></div>
    <div fxFlex="300px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="mat-headline">Meteo attuale</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-current-weather></app-current-weather>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex></div>
  </div>
</div>

<!--
<div class="example">
  <div fxLayoutAlign="center" style="margin-top: 64px">
    <div class="mat-h3">Template-driven Form Input</div>
  </div>
  <div fxLayoutAlign="center">
    <app-city-search-tpldriven></app-city-search-tpldriven>
  </div>
</div>
-->

